# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
.sass-cache/
.vscode/
node_modules/
dist/


# Other files and folders
.settings/
# package.json
# package-lock.json

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
*.env

# files
template.html
firebasecmd.txt
index.raw.html
index.test.html
js/firebase.js
test.html



# Local Netlify folder
.netlify
